In [3]:
%matplotlib inline
import numpy as np
import pandas as pd

### 1. How likely is it that you roll doubles when rolling two dice?

In [4]:
# Create data frame to hold rolls
rolls = pd.DataFrame()
# Create columns for each die
rolls['die1'] = np.random.choice([1, 2, 3 ,4, 5, 6], size = 10_000)
rolls['die2'] = np.random.choice([1, 2, 3 ,4, 5, 6], size = 10_000)

In [6]:
# Create new column that contains boolean value if die1 is equal to die2
rolls['is_pair'] = rolls.die1 == rolls.die2
print(f'The probability of rolling doubles is ~{rolls.is_pair.mean()}')

The probability of rolling doubles is ~0.1621

### 2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [12]:
# Declare number of trials/rows and coins/cols
n_trials = nrows = 10_000
n_coins = ncols = 8
# Generate random coin flips where 1 = heads and 0 = tails
flips = np.random.choice([1, 0], n_trials * n_coins).reshape(nrows, ncols)
# Sum the rows to create an array of the sum of heads in coin flips
heads = flips.sum(axis=1)
heads

array([2, 3, 1, ..., 3, 6, 5])

In [13]:
print(f'The probability of getting exactly three heads is: {(heads == 3).mean()}')

The probability of getting exactly three heads is: 0.2106

In [15]:
print(f'The probability of getting more than three heads is: {(heads > 3).mean()}')

The probability of getting more than three heads is: 0.6457

### 3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [17]:
# Create array of two outcomes with a weighted probability 
billboards = np.random.choice(['Web Dev', 'Data Science'], size=(100_000, 2), p = [.75, .25])
billboards

array([['Web Dev', 'Web Dev'],
       ['Web Dev', 'Web Dev'],
       ['Web Dev', 'Web Dev'],
       ...,
       ['Web Dev', 'Data Science'],
       ['Web Dev', 'Data Science'],
       ['Web Dev', 'Web Dev']], dtype='<U12')

In [19]:
# Create data frame of billboards array
df = pd.DataFrame(billboards)
# Set the columns to readable titles
df.columns = ['first_billboard', 'second_billboard']
df.head()

  first_billboard second_billboard
0         Web Dev          Web Dev
1         Web Dev          Web Dev
2         Web Dev          Web Dev
3         Web Dev          Web Dev
4    Data Science     Data Science

In [22]:
# Create new column that contains a boolean with True if both columns contain Data Science
df['both_ds'] = (df.first_billboard == 'Data Science') & (df.second_billboard == 'Data Science')
df['both_ds'].mean()

0.06311

### 4. Codeup students buy, on average, 3 poptart packages (+- 1.5) a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon?

In [51]:
# Create array of five values for poptarts eaten per day in a week
poptarts = np.round(np.random.normal(3, 1.5, size=(100_000, 5)))
# Sum the amount of poptarts eaten over the entire week
weekly_demand = poptarts.sum(axis=1)
# Check for mean of weeks where the demand was less than 17
(weekly_demand < 17).mean()

0.6694

### 5. Compare Heights

* Men have an average height of 178 cm and standard deviation of 8cm.
* Women have a mean of 170, sd = 6cm.
* If a man and woman are chosen at random, P(woman taller than man)?

In [26]:
trials = 100_000
# Create array for the heights of men
man = np.round(np.random.normal(178, 8, trials))
# Create array for the heights of women
women = np.round(np.random.normal(170, 6, trials))
# Check mean where men are shorter than women
(man < women).mean()

0.19824

### 6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

In [50]:
n_trials = 10_000
n_students = 50
# Create array where 0 is a failure and 1 is success with a weighted probability
installs = np.random.choice([0, 1], size=(n_trials, n_students), p=[1/250, 249/250])
# Convert array to a data frame
installs_df = pd.DataFrame(installs)
installs_df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [51]:
# Add column to data frame that checks if all installs were successful
installs_df["all_good"] = installs_df.sum(axis=1) == n_students

In [52]:
print(f'The probability of 50 students installing successfully is {installs_df.all_good.mean()}')

The probability of 50 students installing successfully is 0.8219

In [53]:
n_students = 100
installs = np.random.choice([0, 1], size=(n_trials, n_students), p=[1/250, 249/250])
installs_df = pd.DataFrame(installs)
installs_df['all_good'] = installs_df.sum(axis=1) == n_students

In [54]:
print(f'The probability of 100 students installing successfully is {installs_df.all_good.mean()}')

The probability of 100 students installing successfully is 0.6668

### What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [66]:
n_students = 150
installs = np.random.choice([0, 1], size=(n_trials, n_students), p=[1/250, 249/250])
installs_df = pd.DataFrame(installs)
installs_df['failures'] = installs_df.sum(axis=1) < n_students

In [69]:
print(f'The probability of observing an installation issue in the first 150 students is: {installs_df.failures.mean()}')

The probability of observing an installation issue in the first 150 students is: 0.4503

### How likely is it that 450 students all download anaconda without an issue?

In [70]:
n_students = ncols = 450
installs = np.random.choice([0, 1], size=(n_trials, n_students), p=[1/250, 249/250])
installs_df = pd.DataFrame(installs)
installs_df['all_good'] = installs_df.sum(axis=1) == n_students

In [72]:
print(f'The probability of all 450 students downloading without issue is {installs_df.all_good.mean()}')

The probability of all 450 students downloading without issue is 0.167

### 7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

In [75]:
trucks = np.random.choice([1, 0], size=(100_000, 3), p=[.7, .3])
trucks_df = pd.DataFrame(trucks)
trucks_df.columns = ['day_1', 'day_2', 'day_3']
trucks_df.head()

   day_1  day_2  day_3
0      1      1      1
1      0      0      1
2      1      1      1
3      0      1      1
4      1      1      1

In [80]:
trucks_df['visits'] = trucks_df.sum(axis=1)
trucks_df.head()

   day_1  day_2  day_3  visits
0      1      1      1       3
1      0      0      1       1
2      1      1      1       3
3      0      1      1       2
4      1      1      1       3

In [81]:
(trucks_df.visits == 0).mean()

0.02763

How likely is it that a food truck will show up sometime this week?

In [85]:
trucks = np.random.choice([1, 0], size=(100_000, 7), p=[.7, .3])
trucks_df = pd.DataFrame(trucks)

In [86]:
trucks_df['visits'] = trucks_df.sum(axis=1)
trucks_df.head()

   0  1  2  3  4  5  6  visits
0  0  0  0  0  1  1  1       3
1  0  0  1  0  1  0  1       3
2  0  1  0  1  1  1  0       4
3  1  0  0  1  0  1  0       3
4  1  1  1  1  1  1  1       7

In [87]:
(trucks_df.visits > 0).mean()

0.99976

### 8. If 23 people are in the same room, what are the odds that two of them share a birthday?

In [91]:
n_people = 23
n_trials = 10_000

birthdays = np.random.choice(range(365), size=(n_trials, n_people))
df = pd.DataFrame(birthdays)

In [92]:
df['n_unique'] = df.nunique(axis=1)
(df.n_unique != n_people).mean()

0.5089

### What if it's 20 people?

In [93]:
n_people = 20
birthdays = np.random.choice(range(365), size=(n_trials, n_people))
df = pd.DataFrame(birthdays)
df['n_unique'] = df.nunique(axis=1)
(df.n_unique != n_people).mean()

0.4098

### What if it's 40 people?

In [94]:
n_people = 40
birthdays = np.random.choice(range(365), size=(n_trials, n_people))
df = pd.DataFrame(birthdays)
df['n_unique'] = df.nunique(axis=1)
(df.n_unique != n_people).mean()

0.8911